functions
-  predefined functions

   - buit-in functions and modules

   - third-party function

. user defined functions

   - non-parameterized functions

   - function returning value

   - parameterized functions 
      . required parameters 

      . args and kwargs

      . lambda functions

syntax for creatig a functions

- def function name ():

syntax for calling a function

- function name()

function_name([params...])

In [5]:
def hello():
    print("hello world")
    print("this is a function")

In [6]:
hello()

hello world
this is a function

In [3]:
hello()
hello()

hello world
t6his is a function
hello world
t6his is a function

In [7]:
for i in range(4):
    hello()

hello world
this is a function
hello world
this is a function
hello world
this is a function
hello world
this is a function

user defined function

In [8]:
def check_prime():
    a = 541
    for i in range(2,541):
        if a%i==0:
            print('not prime')
            break
        else:
            print('prime')

In [ ]:
check_prime()

In [ ]:
var = check_prime()
print(var)

Rturn value function

In [11]:
def check_prime():
    a = 541
    for i in range(2,541):
        if a%i==0:
            return('not prime')
            break
        else:
            return('prime')

In [12]:
check_prime()

'prime'

In [13]:
var = check_prime()
print(var)

prime

Multiple Return Value functions

- it can also be returned in funtions

. returned values return in the form of tuple

In [15]:
def myfunc():
    return'i being returned', 'i also ', 'me too'

In [16]:
myfunc()

('i being returned', 'i also ', 'me too')

In [18]:
a, b , c = myfunc()

In [19]:
a

'i being returned'

In [20]:
b

'i also '

Parametrized function

In [22]:
def check_prime(n):
    for i in range(2,n):
        if n%i==0:
            return('not prime')
            break
        else:
            return('prime')

In [23]:
check_prime(31)

'prime'

In [25]:
def sum(arg1,arg2):
    return arg1 + arg2

Default parameter function

In [26]:
def default_f(a = 213 , b = 325):
    return a+b

In [27]:
default_f()

538

In [28]:
default_f(21333123)

21333448

In [30]:
default_f(342545 , 324674)

667219

In [31]:
default_f(b = 342567)

342780

Variable argument functions

In [32]:
def  myfunc(*num):
    print(num)

In [33]:
myfunc(213, 2351, 4567, 4567)

(213, 2351, 4567, 4567)

In [3]:
def myfunc(*num):
    return f'sum:{sum(num)}'

In [7]:
myfunc(4234 , 23434, 65 , 765 , 876)

'sum:29374'

In [8]:
def myfunc(**names):
    for name , marks in names. items():
        print(f'{name} got {marks}')

- lambda functions

In [2]:
# a function that solves equation but in one line

y = lambda x : x**2 / 3

In [3]:
f = lambda x,y : x**2 /y ** 3

In [4]:
print(y(23))
print(f(3,5))

176.33333333333334
0.072

In [5]:
y(230)

17633.333333333332

In [7]:
f(2,15)

0.0011851851851851852

- Map and filters

for lambda expression we use map and filters

In [8]:
# icrease salary by 10%

salary = [20000, 30000, 40000,50000,60000]
inc10 = lambda x: x * 1.10 # lambda function
list(map(inc10,salary))

[22000.0, 33000.0, 44000.0, 55000.00000000001, 66000.0]

In [11]:
customers = ['mr.john', 'mrs. jane','mr.paul']
# remove the prefix'mr' or'mrs.
list(map(lambda name: name.strip('mr.,mrs.') ,customers))

['john', ' jane', 'paul']

In [12]:
x = [1,2,3,4,5,6,7]
# square each number in x
list(map(lambda x: x ** 2, x))

[1, 4, 9, 16, 25, 36, 49]

In [13]:
x = [23,45,56,76,87,20,3,2,10]

In [14]:
list(filter(lambda i : i % 2 == 0 , x ))

[56, 76, 20, 2, 10]

In [15]:
msg = 'this is a message, for you , and your only friends . yes'
list(filter(lambda i : i.startswith('yes'),msg.split()))

['yes']