List

indexed, ordered, hetrogenous data structure and it is mutuable(dynamic)
and can contain duplicate values.

Task

.cretaion

.indexing and slicing

.functions

.other stuff

In [ ]:
a = [1,2,3,4,5,6,]
print(a)
print(type(a))

Coversion of string into list

In [5]:
name = 'stormlight'
chars = list(name)
print(chars)

['s', 't', 'o', 'r', 'm', 'l', 'i', 'g', 'h', 't']

Split of list

In [6]:
msg = 'journey before destination'
words = msg.split()
print(words)

['journey', 'before', 'destination']

In [8]:
a = 1
b = 2 
c = 3
num = [a,b,c]
print(num)

[1, 2, 3]

clone = modify list and also keep a copy of the original

In [9]:
# clone content in a list

x =10
xlist = [x] * 6
print(xlist)

[10, 10, 10, 10, 10, 10]

In [12]:
x = 'b'
xlist = [x] * 9
print(xlist)

['b', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'b']

In [14]:
print(x) # original value

b

In [15]:
print(xlist) # modified value and kept a copy of original value

['b', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'b']

Tuple

In [1]:
my_tuple = (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
#

my_tuple = 3,4,5.8,"apple"
print(my_tuple)

(3, 4, 5.8, 'apple')

In [4]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

p
t

In [5]:
# nested tuple

n_tuple = ("mouse",[6,4,65,],(1,2,3,4))

In [ ]:
# accesing tuple elements using slicing
my_tuple = ('e','x','c','a','l','i','b','u',)

In [6]:
# concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [8]:
# repeat

print(("repeat",) * 3)

('repeat', 'repeat', 'repeat')

In [9]:
my_tuple = ('a', 'p', 'p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

SET

In [10]:
# set of integer

my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [12]:
# set of mixed datatypes
my_set = {1.0, 1, 'apple'}
print(my_set)

{'apple', 1.0}

In [13]:
# set cannot have duplicates
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [16]:
# we can make set from a list
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [15]:
my_set = {1,2,[3,4]}
print(my_set)

TypeError: unhashable type: 'list'

In [20]:
# creatingpty  empty set
# initialize a with empty set
a = set()
print(a)

set()

In [21]:
# initialize my set
my_set = {1,3}
print(my_set)

{1, 3}

In [22]:
# add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [23]:
# add multiple elements
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [24]:
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [25]:
# initialize my set 
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [27]:
# discard man element
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [28]:
#remove an element
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [29]:
# pops a random item
my_set.pop()
print(my_set)

{3, 5}

In [30]:
#clear my set
my_set.clear()
print(my_set)

set()

In [32]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
A.union(B)# use union function

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
B.union(A) # use union function on b

{1, 2, 3, 4, 5, 6, 7, 8}

intersection = common funtion

In [35]:
print(A&B)

{4, 5}

In [36]:
A.intersection(B)

{4, 5}

In [37]:
# use - operator on A
print(A-B)

{1, 2, 3}

In [38]:
# use difference function on A
A.difference(B)

{1, 2, 3}

In [39]:
# USE - OPerator on B
B-A

{6, 7, 8}

Symmetric diiference

In [40]:
# use ^ operator
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [41]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [46]:
A = {"television","samsung","nokia","redme","mac"}
B = {"laptop","oppo","redme","nokia","fan"}

print(A | B)

{'nokia', 'oppo', 'samsung', 'television', 'mac', 'laptop', 'fan', 'redme'}

In [49]:
print(A&B)
print(A^B)
print(A-B)

{'nokia', 'redme'}
{'television', 'laptop', 'mac', 'oppo', 'fan', 'samsung'}
{'television', 'mac', 'samsung'}