. String function

In [68]:
name ="priya jaiswal"

In [69]:
name.upper()

'PRIYA JAISWAL'

In [71]:
name.lower()

'priya jaiswal'

In [72]:
name.capitalize()

'Priya jaiswal'

format function

In [5]:
a = 23
b = 21
o = 'the total of {} and {} is {}'.format(a,b,a+b)
print(o)

the total of 23 and 21 is 44

In [6]:
msg = "where there is a will there is a way"

In [7]:
print(len(msg),"chars")

36 chars

In [8]:
msg.split()

['where', 'there', 'is', 'a', 'will', 'there', 'is', 'a', 'way']

In [9]:
len(msg.split())

9

In [12]:
path ="C:/Users/xyz/.ipython"
out = path.split('/')
print(out)

['C:', 'Users', 'xyz', '.ipython']

. Join function

In [3]:
names = ['Alex','Alina','Bob','Boby','Cindy']

In [6]:
namestr = ' , '.join(names)
print(namestr)

Alex , Alina , Bob , Boby , Cindy

strip function

. used in removal of extra spaces

In [17]:
a = ' hello world'
print(len(a))
print(a)

12
 hello world

In [18]:
ca = a.strip()
print(ca, len(ca))

hello world 11

ljust() , rjiust , center()

In [19]:
'hello'.ljust(25)

'hello                    '

In [21]:
'hello world'.ljust(25,'.')

'hello world..............'

In [22]:
'hello world'.center(25,'_')

'_______hello world_______'

In [24]:
"riya".center(12,('<'))

'<<<<riya<<<<'

In [28]:
for i in range(1,15,2):
    print((i * ' L ').center(35))

                 L
              L  L  L
           L  L  L  L  L
        L  L  L  L  L  L  L
     L  L  L  L  L  L  L  L  L
  L  L  L  L  L  L  L  L  L  L  L
 L  L  L  L  L  L  L  L  L  L  L  L  L

In [29]:
for i in range(1,18,3):
    print((i * ' @ ').ljust(12))

 @
 @  @  @  @
 @  @  @  @  @  @  @
 @  @  @  @  @  @  @  @  @  @
 @  @  @  @  @  @  @  @  @  @  @  @  @
 @  @  @  @  @  @  @  @  @  @  @  @  @  @  @  @

Find() or index

In [30]:
msg = 'we are the champions, and we are not the loosers'
print(msg.find('are'))
print(msg.index('are'))

3
3

In [31]:
msg = 'we are the champions, and we are not the loosers'
print(msg.rfind('are'))
print(msg.rindex('are'))

29
29

In [ ]:
for i,v in enumerate(msg):
    print(i,v)

In [33]:

print(msg.find('re'))
print(msg.index('re'))

4
4

. Replace()

In [34]:
msg.replace('are','is')

'we is the champions, and we is not the loosers'

In [37]:
msg.replace('we','I')

'I are the champions, and I are not the loosers'

Ques.. write a program to remove all the vowels

In [87]:
msg = "my name is priya jaiswal" # remove all the vowells
for v in "aeiouAEIOU":
    msg = msg.replace( v , ' ')
    print(f"removing {v}",' _ ',msg)

removing a  _  my n me is priy  j isw l
removing e  _  my n m  is priy  j isw l
removing i  _  my n m   s pr y  j  sw l
removing o  _  my n m   s pr y  j  sw l
removing u  _  my n m   s pr y  j  sw l
removing A  _  my n m   s pr y  j  sw l
removing E  _  my n m   s pr y  j  sw l
removing I  _  my n m   s pr y  j  sw l
removing O  _  my n m   s pr y  j  sw l
removing U  _  my n m   s pr y  j  sw l

Ques. write a program to replace all the speciAl characters.

In [92]:
x = "(@ , % ,* ,! , >, /)"
for i in 'x':
    name = x.replace( x  , '_')
print(name)

_

Ques.. write a program to remove all the special characters in the string.

In [157]:
name = "my name is #priya jaiswal and i am @24 years old"
a = ("#,@")
for v in {a}:
    msg = name.replace( v ,' ')
print(f"removing {v}",'_',msg)

removing #,@ _ my name is #priya jaiswal and i am @24 years old

In [126]:
msg = 'we are the champions , and we are not a loosers'
print(msg)

we are the champions , and we are not a loosers

In [127]:
msg.count('the')

1

In [128]:
msg.startswith('be')

False

In [129]:
msg.startswith('we')

True

In [130]:
msg.endswith('loosers')

True

In [131]:
files =['file1.txt','file2.txt','abc.txt','xyz.jpg','acd.png']

In [132]:
for file in files:
    if file.endswith('.txt'):
        print(file)

file1.txt
file2.txt
abc.txt

In [133]:
for file in files:
    if file.endswith('.jpg') or file.endswith(".png"):
        print(file)

xyz.jpg
acd.png

In [15]:
guests_names = ['Mrs.white','Mr. Peacock','Mrs. Plum','col.Mustard','prof.plum','Mr.Green','Mrs.Green']
for name in guests_names:
    if name.startswith('Mr.') or name.startswith('Mrs.'):
     print(name)

Mrs.white
Mr. Peacock
Mrs. Plum
Mr.Green
Mrs.Green

In [17]:
name.startswith('Mrs.')

True

In [19]:
bigtext = """
 India our country is a huge and beautiful land full of wonders
 From the Himalayas to the Indian Ocean, the Desert of Thar in the snowy mountains of Sikkim, 
 it is a country full of beautiful landscapes and beautiful people. India is a unique country with diversity.
 "Unity is diversity" is the main slogan of the country """

In [21]:
stopwords = ['to','of','in','for','by']
for word in stopwords:
    print(word,bigtext.count(word))

to 1
of 5
in 3
for 0
by 0

In [24]:
smalltext = bigtext[:156].strip()
print(smalltext)

India our country is a huge and beautiful land full of wonders
 From the Himalayas to the Indian Ocean, the Desert of Thar in the snowy mountains of Sikki

In [28]:
smalltext.upper()

'INDIA OUR COUNTRY IS A HUGE AND BEAUTIFUL LAND FULL OF WONDERS\n FROM THE HIMALAYAS TO THE INDIAN OCEAN, THE DESERT OF THAR IN THE SNOWY MOUNTAINS OF SIKKI'

In [29]:
smalltext.capitalize()

'India our country is a huge and beautiful land full of wonders\n from the himalayas to the indian ocean, the desert of thar in the snowy mountains of sikki'

In [31]:
name = input('enter your name:')
if name.isupper():
    print("your name is in uppercase")
elif name.islower():
    print("your name is in lowercase")
elif name.istitle():
    print("your name is in tittle case")
else:
    print('your name is in mixed case')

your name is in mixed case

In [11]:
value = input('enter a value')
if value.isnumeric():
    print("your value is numeric")
elif value.isalpha:
    print("your value is alphabetic")
elif value.isalnum:
    print("your value is alphanumeric")
elif value.isspace:
    print("your value contains only spaces")
else:
    print("your value is mixed")

your value is numeric

In [9]:
a = 2
b = 20
if a > b:
    print('a is grester than b')
elif a < b:
    print('a is less than b')
elif a >= b:
    print('a is greater than equal to b')
else:
    print('a is equal to b')

a is less than b

In [14]:
x = 10 
y = 20

eq = input("enter an equation using x and y:")
print(eq, eval(eq))

x+x*y+y/10 212.0

In [20]:
10+10*20+20/10

212.0

In [22]:
name = "priya"
eval("name.upper()")

'PRIYA'

list

In [1]:
a = [1,3,4,5,6,7,8,9]
print(a)

[1, 3, 4, 5, 6, 7, 8, 9]

In [2]:
n1 = [1,2,3,4,5,6,7,8,9,10]

In [3]:
n1[:5]#first five

[1, 2, 3, 4, 5]

In [5]:
n1[-5:]

[6, 7, 8, 9, 10]

In [6]:
n1[n3:-3]

[4, 5, 6, 7]

In [7]:
for i in n1:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

# Nested list

In [8]:

x = [[1,2,3],[3,4,5],[1,2,3,4]]
print(x)
for item in x:
    print(item)

[[1, 2, 3], [3, 4, 5], [1, 2, 3, 4]]
[1, 2, 3]
[3, 4, 5]
[1, 2, 3, 4]

In [9]:
for sublist in x:
    for i in sublist:
        print(i)

1
2
3
3
4
5
1
2
3
4

Functions

In [10]:
x = [] # empty list
y = [1,2,3] # 3 elements list

 Append

In [11]:
# append means add the value and can be at only one value at a time

x.append(12)
print(x)
x.append(5)
print(x)
x.append(13)
x.append(10)
print(x)

[12]
[12, 5]
[12, 5, 13, 10]

In [13]:
x.insert(2,10)
print(x)

[12, 5, 10, 10, 13, 10]

In [14]:
x.insert(5,'hello')
print(x)

[12, 5, 10, 10, 13, 'hello', 10]

Remove

In [15]:
# remove the value but at first accurance

x.remove("hello")
print(x)

[12, 5, 10, 10, 13, 10]

In [16]:
if 10 in x:
    x.remove(10)

In [17]:
print(x)

[12, 5, 10, 13, 10]

Pop = it remove an index value

In [18]:
x.pop(1)
x

[12, 10, 13, 10]

In [19]:
x.pop(3)
x

[12, 10, 13]

In [20]:
x.pop()
x

[12, 10]

In [21]:
x.clear()
print(x)

[]

In [22]:
names = ['sam','alex','bob','david','jojo','kate','lise','mike','nancy']
print(names)

['sam', 'alex', 'bob', 'david', 'jojo', 'kate', 'lise', 'mike', 'nancy']

Reverse

In [23]:
names.reverse
print(names)

['sam', 'alex', 'bob', 'david', 'jojo', 'kate', 'lise', 'mike', 'nancy']

In [24]:
names.sort()
print(names)

['alex', 'bob', 'david', 'jojo', 'kate', 'lise', 'mike', 'nancy', 'sam']

In [26]:
x = [1,2,3,4,7,8,3]
y = ['a','f','r','b']
z =[1,2,3,';a','d']# mixed type value cannot be sorted
x.sort()
print(x)
y.sort()
print(y)
z.sort()
print(z)

[1, 2, 3, 3, 4, 7, 8]
['a', 'b', 'f', 'r']

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
x.count(z)

0

In [28]:
print(x)
x.index(3)

[1, 2, 3, 3, 4, 7, 8]

2

In [29]:
names.index('kate')

4

List with user input(basic)

In [31]:
days = []
for i in range(6):
    a =input("names of day:")
    days.append(a)
print(days)

['sun', 'mon', 'tue', 'wed', 'thur', 'fri']